target/
.settings/
*.log
*.class
.classpath
.project
*.swp
bin/
SliderShow-webapp/src/main/webapp/tmp
SliderShow-webapp/src/main/webapp/res
.DS_Store
.idea
*.iml
mus-webapp/src/main/webapp/res
mus-batch/app
error.log*
classes/
node_modules/
mus-batch/conf/webdefault.xml
mus-batch/conf/webapps/logger.jsp
deploy_batch.sh.test.*
deploy_batch.sh.prod.*
deploy_tomcat.sh.test.*
deploy_tomcat.sh.prod.*
deploy_nginx.sh.prod.*
deploy_nginx.sh.test.*
screenlog.*
